.SynopsisSection {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SynopsisTitle {
  text-align: center;
  font-family: "Men of Nihilist", sans-serif;
  color: white;
  font-size: 6vh;
}

.SynopsisTitleRed {
  color: #cc0000;
}
.SynopsisText {
  text-align: center;
  width: 62%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.7vh;
  color: white;
}

@media screen and (max-width: 768px) {
  .SynopsisSection {
    height: 80vh;
  }
  .SynopsisTitle {
    font-size: 4vh;
  }
  .SynopsisText {
    text-align: justify;
    font-size: 2.05vh;
  }
}
