.regispage_container {
  padding-top: 3vh;
  text-align: center;
  color: white;
}
.pic {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic-text {
  padding-top: 15vh;
}
.count {
  font-size: 3vh;
  color: white;
  font-family: Merriweather;
  font-weight: 900;
  letter-spacing: 0em;
  line-height: 3vh;
}
.monte {
  font-family: Merriweather;
  font-size: 11vh;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0em;
  color: white;
}
.horror {
  font-family: Poppins;
  font-size: 3vh;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0em;
  color: white;
  line-height: 3vh;
}
.buy_tickets {
  font-family: Men of Nihilist;
  font-style: normal;
  font-weight: normal;
  font-size: 7vh;
  margin-top: 4vh;
}
.buy_tickets_tickets {
  color: red;
}
.bolted_text {
  font-family: Poppins;
  font-size: 5vh;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
}
.non_bolted_text {
  font-family: Poppins;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}
.bolted_text .non_bolted_text {
  font-family: Poppins;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

.choose {
  padding-top: 7vh;
  font-family: Men of Nihilist;
  font-size: 5vh;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
}
.timeslots {
  color: red;
}
.upcoming {
  font-family: Men of Nihilist;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
}
.upcoming span {
  color: red;
}
.upcoming_pics {
  display: flex;
  justify-content: space-evenly;
}
.osiris {
  border: 3px solid #ffffff;
}
.sanatorium {
  border: 3px solid #ffffff;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4vw;
}
.button {
  display: flex;
  border: 2px solid red;
  border-radius: 2vh;
  height: 15vh;
  width: 35vh;
  background-color: black;
  margin: 5vh;
  flex-direction: row;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  background-color: red;
}
.books {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.7vh 0 0 1.7vh;
}
.booksText {
  font-size: 2vw;
}
.slots {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: red;
  border-radius: 0 1.7vh 1.7vh 0;
}
.slotsNumber {
  font-size: 1.7vw;
}
.slotsLeft {
  font-size: 1vw;
}
.GamesDisplaySectionRegis {
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 10vh 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Date {
  padding: 3vh;
}
.Price {
  padding: 2vh;
}
.Duration {
  padding: 3vh;
}

.disabledbutton {
  display: flex;
  border: 2px solid #c4c4c4;
  border-radius: 2vh;
  height: 15vh;
  width: 35vh;
  background-color: black;
  margin: 5vh;
  flex-direction: row;
  pointer-events: none;
  transition: 0.5s;
}

.disabledslots {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c4c4c4;
  border-radius: 0 1.7vh 1.7vh 0;
}

@media screen and (max-width: 768px) {
  .GamesDisplaySectionRegis {
    height: 110vh;
    flex-direction: column;
    padding: 3vh 10vw;
    align-items: center;
  }
  .monte {
    font-size: 8vh;
  }
  .buy_tickets {
    font-size: 6vh;
  }
  .booksText {
    font-size: 4vh;
  }
  .slotsLeft {
    font-size: 2vh;
  }
  .slotsNumber {
    font-size: 3vh;
  }
  .upcoming {
    font-size: 3vh;
  }
}
