.DetailsSection {
  background: url("./assets/background.png");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.DetailsTitle {
  text-align: center;
  font-family: "Men of Nihilist", sans-serif;
  color: white;
  font-size: 375%;
  margin-bottom: 4vh;
  margin-top: 15vh;
}

.DetailsTitleRed {
  color: #cc0000;
}

.DetailsDescription {
  font-family: "Poppins";
  color: white;
  font-size: 180%;
  text-align: center;
  width: 73%;
  margin: 0 auto;
}

.HowToPlayTitle {
  text-align: center;
  font-family: "Men of Nihilist", sans-serif;
  color: white;
  font-size: 330%;
  margin-top: 20vh;
}

.HowToPlaySubSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2vh;
}

.HowToPlaySubSectionLine {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2vh;
}

.HowToPlayDescriptionOnRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.HowToPlayDescriptionOnLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.HowToPlayDescriptionTitle {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 230%;
  color: white;
}

.HowToPlayDescriptionText {
  font-family: "Poppins";
  font-size: 110%;
  line-height: 1.1;
  color: white;
}

.HowToPlayDescriptionLeft {
  text-align: right;
  width: 38%;
}

.HowToPlayDescriptionRight {
  width: 38%;
}

.HowToPlayLine {
  position: absolute;
  border: 1px solid #ffffff;
  width: 0;
  height: 13vh;
}

@media screen and (max-width: 768px) {
  .DetailsTitle {
    font-size: 300%;
  }
  .DetailsDescription {
    font-size: 150%;
  }
  .HowToPlaySubSectionLine {
    display: none;
  }
  .HowToPlaySubSection {
    padding: 2.25vh;
  }
  .HowToPlayDescriptionOnRight {
    flex-direction: column;
    width: 100%;
  }
  .HowToPlayDescriptionOnLeft {
    flex-direction: column-reverse;
    width: 100%;
  }
  .HowToPlayDescriptionLeft {
    text-align: center;
    width: 80%;
  }
  .HowToPlayDescriptionRight {
    text-align: center;
    width: 80%;
  }
}
