.esc-room{
    font-family: Men of Nihilist;
}

.one-ticket{
    display:flex;
    flex-direction: row;
}

.four-ticket{
    display:flex;
    flex-direction: row;
}

.seven-ticket{
    display:flex;
    flex-direction: row;
}
/* .tickets{
    display:flex;
    flex-direction:row;
} */