.esc-room{
    font-family: Men of Nihilist;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}
.esc-room span{
    color:red;
    text-align: left;
}
.date{
    font-family: Poppins;
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: right;
}
.one-ticket{
    display:flex;
    flex-direction: row;
}

.four-ticket{
    display:flex;
    flex-direction: row;
}

.seven-ticket{
    display:flex;
    flex-direction: row;
}
.asterisk{
    color:red;
}
.form_body{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
}
.body_headings{
    font-family: Poppins;
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}
.plus-minus{
    border-radius: 50%;
    border-color: red;
    border:solid 3px ;
    background-color: white;
    color:red;
    display: block;
    height:4vh;
    width:2vw;
    font-size: 4vh;
}
.tickets_shown{
    font-family: Merriweather;
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color:red;
}
.form_control{
    border: 3px solid #CC0000;
    height: 5vh;
    width:20vw;
}
.final_form_control{
    height: 5vh;
    width:20vw;
}
.tickets_heading{
    font-family: Poppins;
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    padding-right:10vw;
    padding-bottom: 2vh;
}
.final_tickets{
    display:flex;
    justify-content: space-between;
}
.amount{
    display: flex;
    justify-content: space-between;
}
.modal-footer{
    justify-content: center;
}
.confirmed_text{
    font-family: Poppins;
    font-size: 2vh;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
}
.back_to_main_button{
    background-color: #CC0000;
    width:10vw;
    color:white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
}
.back_button{
    background-color: #5F5F5F;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color:white;
    width:5vw;
    margin-right: 1vh;
}
.next_button{
    background-color: #CC0000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color:white;
    width:5vw;
    margin-left:1vh;
}