.GameDetailSection {
  background-color: black;
  width: 100%;
  height: 150vh;
  padding: 6vh;
}

.Details {
  margin-bottom: 5vh;
}
.DetailTitle {
  text-align: center;
  font-family: "Poppins", serif;
  color: white;
  font-weight: 900;
  font-size: 4vh;
  margin-bottom: 0.5vh;
}

.DetailDescription {
  text-align: center;
  font-family: "Poppins", serif;
  color: white;
  font-weight: 900;
  font-size: 3.5vh;
}

.DetailDescriptionRed {
  text-align: center;
  font-family: "Poppins", serif;
  color: #cc0000;
  font-weight: 900;
  font-size: 3.5vh;
}

.TrailerTitle {
  text-align: center;
  margin-top: 6vh;
  font-family: "Men of Nihilist", sans-serif;
  color: white;
  font-size: 6vh;
}

.TrailerTitleRed {
  color: #cc0000;
}

.TrailerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .GameDetailSection {
    height: 110vh;
  }
  .DetailDescription {
    font-size: 3vh;
  }
  .DetailDescription {
    font-size: 2.5vh;
  }
  .TrailerTitle {
    font-size: 4vh;
  }
  .TrailerVideoDiv {
    margin-top: 5vh;
  }
  .TrailerVideo {
    height: 100%;
    width: 80vw;
  }
}
